[submodule "Content/LeagueSandbox-Default"]
	path = Content/LeagueSandbox-Default
	url = https://github.com/LeagueSandbox/LeagueSandbox-Default.git
	branch = indev
[submodule "LeaguePackets"]
	path = LeaguePackets
	url = https://github.com/LeagueSandbox/LeaguePackets
	branch = master
[submodule "Content/LeagueSandbox-Scripts"]
	path = Content/LeagueSandbox-Scripts
	url = https://github.com/cabeca1143/LeagueSandbox-Scripts.git
[submodule "Content/ColaborativeScripts"]
	path = Content/ColaborativeScripts
	url = https://github.com/cabeca1143/LeagueSandbox-Scripts.git
